<section class="bg-white p-4 text-red-500">
  <h2 class="text-2xl font-serif text-red-500 mb-4">Locations</h2>
  <ul class="">
    <li class="flex justify-between items-start mb-2 pt-2 pb-2">
      <div class="flex flex-col">
        <a href="/" class="flex text-red-500 text-sm mb-1 hover:underline">
          <svg class="w-6 h-6 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>
          </svg>
          <span>Location Name</span>
        </a>
        <span class="text-gray-600 text-xs">Details: Some description about the location</span>
      </div>
    </li>
    <li class="flex justify-between items-start mb-2 pt-2 pb-2">
      <div class="flex flex-col">
        <a href="/" class="flex text-red-500 text-sm mb-1 hover:underline">
          <svg class="w-6 h-6 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>
          </svg>
          <span>Location Name</span>
        </a>
        <span class="text-gray-600 text-xs">Details: Some description about the location</span>
      </div>
    </li>
    <li class="flex justify-between items-start mb-2 pt-2 pb-2">
      <div class="flex flex-col">
        <a href="/" class="flex text-red-500 text-sm mb-1 hover:underline">
          <svg class="w-6 h-6 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>
          </svg>
          <span>Location Name</span>
        </a>
        <span class="text-gray-600 text-xs">Details: Some description about the location</span>
      </div>
    </li>
  </ul>
</section>
