<div id="nav-container">
	<!-- navbar -->
	<div id="nav-guest" class="bg-red-500 fixed h-16 w-screen top-0 left-0 border-b flex flex-row z-20 justify-between">
			<h1 class="text-xl font-serif self-center p-4 text-white">{{ .Banner }}</h1>
			<div class="flex p-4 items-center" hx-post="/components/NavUserClosed/{{ .Banner }}" hx-trigger="click" hx-target="#nav-container" hx-swap="outerHTML">
					<div class="w-6 h-6 text-white cursor-pointer bg-transparent">
							<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-full h-full">
									<path fill-rule="evenodd" d="M16.354 4.354a.5.5 0 0 1 0 .708L10.707 10l5.647 5.646a.5.5 0 0 1-.708.708L10 10.707l-5.646 5.647a.5.5 0 0 1-.708-.708L9.293 10 3.646 4.354a.5.5 0 0 1 .708-.708L10 9.293l5.646-5.647a.5.5 0 0 1 .708 0z"/>
							</svg>
					</div>
			</div>
	</div>

	<!-- overlay -->
	<div class="fixed top-0 left-0 w-screen h-screen bg-black opacity-50 z-10" hx-post="/components/NavUserClosed/{{ .Banner }}" hx-trigger="click" hx-target="#nav-container", hx-swap="outerHTML"></div>

	<!-- spacer -->
	<div class="h-16"></div>

	<!-- navigation menu -->
	<nav class="fixed top-16 left-0 w-3/5 h-screen bg-white z-20" hx-boost="true">
			<ul class="flex flex-col">
					<a class="border p-4" href="/locations">
							<li class="font-serif text-red-500">Locations</li>
					</a>
					<a class="border p-4" href="/logout">
							<li class="font-serif text-red-500">Logout</li>
					</a>
			</ul>
	</nav>
</div>
